.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #da74f3;
}

.app{
  justify-content: space-around;
  background-color: rgb(171, 104, 226);
  min-height: 100vh;
}

.display_window{
  margin:auto;
  width: 50%;
  min-height: 100vh;
}

.carousel{
  display: flex;
  height: 200px;
}

.nft{
  border: 6px solid lightcyan;
  height: 200px;
  width: 200px;
  background:rgb(202, 157, 245);
  display:flex;
  border-radius: 35px;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
}

.nav-button{
  border: 2px whitesmoke;
  height: 200px;
  width: 200px;
  background:purple;
  display:flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
}

.header{
  height: 50px;
  color: indianred;
}

.browser{
  margin: auto;
  justify-content: space-around;
}

.about{
  font: message-box;
  text-align: center;
}